/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,800;1,900&display=swap');
/* POPPINS */

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins',sans-serif;
}

/* HEADER */

header
{
    position: fixed;
    width: 100%;
    padding: 30px;
    background-color: black;
    font-size: 170%;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    z-index: 99;
}


nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
}

header a{
    text-decoration: none;
    color: inherit;
}

.header-inverse{
    background-color: white;
    color: black;
    -webkit-transition: background-color 500ms ease-out;
    -ms-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
}


header li{
    background-color: slateblue;
    transition: width 1s ease-in;
}

header .li-focused{
    box-shadow: inset 0 -5px 0px #00ba92;
    transition: all 0.2s ease-in-out;
}

/* SECTION */


section{
    padding-top: 70px;
    display: flex;
    width: 99vw;
    height: 97vh;
    background-color: rgb(255, 255, 255);
    color: black;
}
section:nth-child(even){
    background-color: black;
    color:  rgb(255, 255, 255);
}
.content{
    text-align: center;
    margin: auto auto;
    box-sizing: border-box;
    padding: 0 100px;
    border-radius: 2px;
    height: 70%;
    width: 80%;
    border: 1px solid white;
    overflow: hidden;
}
section:nth-child(odd) .content{
    border: 1px solid black;
}
.content h1{
    margin-top: 100px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.content p{
    margin-top: 50px;
    line-height: 25px;
}